*{
    margin: 0;
    padding: 0;
}

body, html{
    overflow-x:hidden !important;
}

#header{
    display: flex;
    width: 100%;
    height: 10rem;
    background-color: #1f1f24;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

#logo{
    width: 12rem;

}

#nav-m{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.icones{
    color: white;
    font-size: 3em;
    margin-right: 0.5em;
}

#icones-footer{
    width: 100%;
}

#div-principal{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#footer{
    background-color: #1f1f24;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{

}
.pai-nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

#pai-footer{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#texto-footer{
    color: white;
    width: 50%;
}

.icone-footer{
    color: white;
    font-size: 2em;
}

#logo-footer{
}

#logo-footer img{
    width: 10em;
    height: 100%;

}

#container{
    width: 100vw;
    height: 100%;
}

#caixas1{
    background-image: url("/img/1.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

#caixas2{
    background-image: url("/img/2.png");
    background-size: 100% 100%;
    width: 100%;
    height: 20%;
}

#caixas3{
    background-image: url("/img/3.png");
    background-size: 100% 100%;
    width: 100%;
    height: 20%;
}

#caixas4{
    background-image: url("/img/4.png");
    background-size: 100% 100%;
    width: 100%;
    height: 20%;
}

#caixas5{
    background-image: url("/img/5.png");
    background-size: 100% 100%;
    width: 100%;
    height: 20%;
}

.imagem-container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.conteudo{
    display: flex;
    width: 96%;
    height: 90vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #011c50;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

.conteudo2{
    display: flex;
    width: 96.3%;
    height: 90vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #011c50;
    font-size: 3.5vw;
    align-items: center;
    padding-left: 1em;
}

@media screen and (max-device-width: 399px){
    #caixas1 {
        background-image: url(/img/1\(400px\).png);
        font-size: 1em;
    }
    #caixas2 {
        background-image: url(/img/2\(400px\).png);
        font-size: 1em;
    }
    #caixas3 {
        background-image: url(/img/3\(400px\).png);
        font-size: 1em;
    }
    #caixas4 {
        background-image: url(/img/4\(400px\).png);
        font-size: 1em;
    }
    #caixas5 {
        background-image: url(/img/5\(400px\).png);
        font-size: 1em;
    }
    .conteudo{
        padding-bottom: 0em;
    }
}

@media screen and (max-device-width:599px) and (min-device-width:400px){
    .icones{
        font-size: 1.8em;
    }
    #caixas1{
        background-image: url(/img/1\(600px\).png);
    }
    #caixas2{
        background-image: url(/img/2\(600px\).png);
    }
    #caixas3{
        background-image: url(/img/3\(600px\).png);
    }
    #caixas4{
        background-image: url(/img/4\(600px\).png);
    }
    #caixas5{
        background-image: url(/img/5\(600px\).png);
    }
    .conteudo{
        padding-bottom: 0em;
    }
}